.RightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navIcons {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.r-btn {
  height: 3rem;
  width: 80%;
  align-self: center;
}
